:root {
	--form-border-color: hsl(0, 0%, 93%);
	--form-border-hover: hsl(167, 40%, 55%);
	--title-color: var(--form-border-hover);
}

.title {
	color: var(--title-color);
}

.form-control,
.form-select {
	transition: all 0.5s ease-in-out;
	border: 0.15rem solid var(--form-border-color);
}

.form-control:hover,
.form-select:hover {
	border: 0.15rem solid var(--form-border-hover);
}

#logo {
	transition: all 0.55s ease-in-out;
}

#logo:hover {
	transform: scale(1.2);
}
